# Dribbble access token is obtained by manually performing the OAuth flow,
# see https://developer.dribbble.com/v2/oauth/
DRIBBBLE_ACCESS_TOKEN=

# Form ID found at https://formspree.io/forms/
PUBLIC_FORMSPREE_ID=

# Language code 'en' or 'sv'
PUBLIC_LOCALE="en"
