---
import Navigation from '@/components/Navigation';
import Footer from '@/components/sections/FooterSection';
import ToasterWrapper from '@/components/ToasterWrapper';
import BaseLayout from '@/layouts/BaseLayout.astro';
import t from '@/utils/i18n';

interface Props {
  title?: string;
  noHeader?: boolean;
}

const { title, noHeader = false } = Astro.props;
---

<BaseLayout title={title}>
  <a
    href="#main"
    class="absolute left-8 top-4 z-[60] w-44 origin-center rounded-full bg-primary p-4 text-center font-medium text-on-primary opacity-0 transition-all focus:opacity-100 motion-safe:scale-0 motion-safe:focus:scale-100"
  >
    {t('navigation.skipToContent')}
  </a>
  <Navigation client:idle />
  <div class="overflow-clip rounded-b-4xl lg:rounded-b-6xl">
    {!noHeader && <slot name="header" />}
    <main
      id="main"
      class={`${noHeader ? '' : '-mt-8 rounded-t-4xl lg:-mt-16 lg:rounded-t-6xl'} relative z-20 bg-default shadow-main-container`}
    >
      {
        !noHeader && (
          <div class="absolute left-1/2 top-4 h-1 w-16 -translate-x-1/2 rounded-full bg-subtle lg:hidden" />
        )
      }
      <slot />
    </main>
  </div>
  <Footer client:visible />
  <ToasterWrapper client:idle />
</BaseLayout>
